appnope
backports.ssl-match-hostname
certifi
decorator
funcsigs
functools32
gnureadline
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
matplotlib
mistune
mock
nbconvert
nbformat
nltk
nose
notebook
numpy
path.py
pbr
pexpect
pickleshare
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scipy
simplegeneric
six
terminado
Theano
tornado
traitlets
wheel
